
// 변수 사용
$my-dark-gray: #343a40;

.todo-header {
    padding: 20px 32px;
    border-bottom: 1px solid #bbb;

    h1 {
        font-size: 25px;
        color: $my-dark-gray;
    }

    .day {
        margin-top: 4px;
        color: #868e96;
        font-size: 17px;
    }
    .tasks-left {
        color: #20c997;
        font-size: 18px;
        margin-top: 20px;
        font-weight: 700;
    }

    .promote {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 100px;
        height: 40px;
        font-size: 15px;
        font-weight: 700;
        &.bg-warning {
            cursor: pointer;
        }
    }
}

